
.slider-selection 
        {
            background: #FF8282;
        } 

#tamBordeSlider .slider-selection 
        {
            background: #FF8282;
        } 

#tamBordeCirculoEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#tamBordeRectanguloSlider .slider-selection 
        {
            background: #FF8282;
        } 

#tamBordeRectanguloEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transFondoRectanguloEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transBordeRectanguloEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#tamBordeForma1EdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transBordeForma1EdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#puntasForma1EdicionSlider .slider-selection 
        {
            background: #FF8282;
        }

#transBordeCirculoSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transFondoCirculoSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transBordeRectaSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transBordeForma1Slider .slider-selection 
        {
            background: #FF8282;
        } 

#transBordeRectanguloSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transFondoRectanguloSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transFondoCirculoEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transBordeCirculoEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transRectaEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#tamBordeLineaSlider .slider-selection 
        {
            background: #FF8282;
        } 

#tamBordeLineaEdicionSlider .slider-selection 
        {
            background: #FF8282;
        }

#tamBordeForma1Slider .slider-selection 
        {
            background: #FF8282;
        } 

#puntasForma1Slider .slider-selection 
        {
            background: #FF8282;
        } 

#grosorLapizSlider .slider-selection 
        {
            background: #FF8282;
        }

#transLapizSlider .slider-selection 
        {
            background: #FF8282;
        }

#grosorPolylineEdicionSlider .slider-selection 
        {
            background: #FF8282;
        }

#transPolilineaEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#bordePoligonoSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transPoligono1Slider .slider-selection 
        {
            background: #FF8282;
        } 

#transPoligono2Slider .slider-selection 
        {
            background: #FF8282;
        } 

#tambordePoligonoEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transPoligonoEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#trans2PoligonoEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#esquinasEstrellaSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transEstrella1Slider .slider-selection 
        {
            background: #FF8282;
        } 

#transEstrella2Slider .slider-selection 
        {
            background: #FF8282;
        } 

#tambordeEstrellaEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#transEstrellaEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#trans2EstrellaEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 

#EsquinasEstrellaEdicionSlider .slider-selection 
        {
            background: #FF8282;
        } 







.infoSlider
{
    margin-left: 10px;
}
